.container {
  .eventlist {
    display: flex;
    width: 75%;
    margin: 100px auto;
    padding: 0 0;
    gap: 50px;
  }
  .eventprogram {
    width: 75%;
    margin: 0 auto;
  }
  .eventmanagers {
    margin: 100px 0;
  }
  .photoblock {
    width: 100%;
  }
  .helpform {
    margin-top: -75px;
  }
}
