$gap: 20px;

.container {
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gap;
    gap: $gap;
    .flexMain,
    .flexDefault,
    .flexWithIcon,
    .flexWithBackground {
      box-sizing: padding-box;
      border-radius: 20px;
    }
    .flexMain {
      flex-basis: calc(100% - $gap);
      background-color: #f7bc75;
      padding: 20px 30px 25px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 30px;
      .data {
        display: flex;
        flex-direction: column;
        .dataNumber {
          font-weight: 700;
          font-size: 80px;
          line-height: 0.8;
        }
        .dataText {
          font-weight: 500;
          font-size: 24px;
        }
      }
      .text {
        gap: 10px;
        width: 60%;
        h3 {
          font-weight: 500;
          font-size: 36px;
        }
        .subtitle {
          font-size: 16px;
          font-weight: 400;
          color: #333333;
        }
      }
    }
    .flexDefault {
      flex-basis: calc(33.333% - $gap);
      min-height: 230px;
      max-height: 100%;
    }
    .flexWithIcon {
      flex-basis: calc(66.666% - $gap);
      background-color: yellow;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 24px;
  font-weight: 500;
}
.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.button {
  max-height: 50px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 15px 60px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  &::after {
    transition: 0.5s;
    content: "";
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    left: 145px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
  }
  &:hover {
    background-color: #000000;
    color: #fff;
    &:after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }
  &:focus {
    background-color: #000000;
    color: #fff;
    &:after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }
}
