.container {
  ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    li {
      flex-basis: 33.333%;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 15px;
      img {
        width: 33px;
        height: 33px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      .text {
        font-size: 15px;
      }
    }
  }
}
