.container {
  width: 80%;
  margin: 0 auto;
  h1 {
    margin-bottom: 50px;
  }
  .wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    .columnContainer {
      display: flex;
      flex-direction: column;
    }
  }
}

.container {
  .sidebarmenu {
    padding: 58px 0 0;
  }
  .tab {
  }
  .program {
  }
}
