.container {
  background: url(../../assets/header.svg) no-repeat center;
  width: 100%;
  height: 480px;

  font-family: "Montserrat", sans-serif;
  position: relative;

  &::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../assets/header-background.svg) no-repeat left;
    z-index: 2;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../assets/header-elements.svg) center no-repeat;
    z-index: 3;
  }

  .headerContainer {
    width: 50%;
    position: relative;
  }

  .textContainer {
    position: absolute;
    top: 110px;
    right: 3%;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    z-index: 5;
  }
  .title,
  .text,
  .subtitle {
    color: #fff;
  }

  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 2.1;
  }
  .subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 2.4;
  }
  .text {
    font-size: 20px;
    font-weight: 500;
    line-height: 4;
  }
}
