.container {
  text-align: center;
  h2 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
  }
  .flexcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    img {
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
